@media (max-width:690px){

    .navbar{
        padding: 0 0;
            a{
                font-size: 20px;
            }
    }
    .orden-div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
    }
    .producto{
        div{
            img{
                width: 90%;
                gap: .625rem;
            }
        }
    }

    .pie-pagina{
        div{
            img{
                width: 3.125rem;
                height: 3.125rem;
            }
        }
    }
}