@media (max-width:776px){
    .producto{
        div{
            img{
                width: 17.5rem;
                margin: 0 1.25rem;
                object-fit: contain;
            }
        }
    }
}
