@media (max-width:1155px){
    .navbar{
        gap: 5rem;
    }
    .peinados-damas{
        width: 100%;
            .damas{
                gap: 0;
                p{
                    margin: 0 0;
                }
                img{
                    margin: 0 0;
                }
            }
    }

    .card{
        margin: .625rem;
    }
}