@media (max-width:1120px){
    .navbar{
        gap: 4.375rem;
    }

    .damas{
        gap: 0;
            p{
                font-size: 1.75rem;
            }
    }
    
    .grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
            .card{
                margin: 6.25rem;
            }
    }
}