@media (max-width:1090px){
    .peinados-damas{
        .damas{
            display: flex;
            flex-direction: column;
        }
    }

    .producto{
        div{
            width: 100%;
            img{
                width: 21.875rem;
            }
        }
    }


}