@media (max-width:1283px){
    .producto{
        div{
            img{
                object-fit: contain;
                width: 25rem;
            };
        }
    }
    
    .card{
        margin: .9375rem;
    }
}