@media (max-width:490px){
    .navbar{
        display: flex;
        flex-direction: column;
            a{
                font-size: 15px;
            }
    }

    main{
        h2{
            font-size: 18px;
        }

        .orden-div{
            p{
                font-size: 18px;
            }
        }

        .img-2{
            width: 18.75rem;
        }

        .peinados-damas{
            flex-direction: column-reverse;
        }

        .producto{
            p{
                font-size: 18px;
            }
        }
    }

    .videos{
        div{
            width: 70%;
            video{
                margin: .625rem;
                height: 70%;
            }
        }
    }

    .grid{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        .card{
            margin: 0 1.875rem;
            height: 95%;
                .card-img{
                        height: 70%;
                }
                .card-info{
                    height: 20%;
                    h3{
                        font-size: 15px;
                    }
                    ul{
                        li{
                            font-size: 12px;
                        }
                    }
                    button{
                        justify-content: flex-end;
                    }
                }
        }
    }

    .form{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        height: 37.5rem;
        margin: .3125rem;
    }

}