@media (max-width:1280){
    .producto{
        div{        
            flex: 1 1 50%;
            align-items: center;
            justify-content: center;    
            img{

            };
        }
    }
}