footer{
    background-color: $colorBack;
    padding: 1.25rem 0;
    font-family: "Kranky", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
    section{
        display: flex;
        justify-content: space-between;
        height: 7.9375rem;
        div{
            a{
                margin-left: 10;
                margin: 1.25rem;
            }
            img{
                height: 5rem;
                width: 5rem;
            }
        }
    }
}

.orden-redes {
    display: flex;
    align-items: center;
    text-align: center;
}