.boton{
    background-color: lightblue;
    border-radius: .625rem;
    color: black;
    padding: 15px 32px;
    box-shadow: .625rem .625rem 1.25rem black;
    text-align: center;
    font-size: 20px;
    font-family: "Poppins" , sans-serif;
    font-style: italic;
    margin: 10px 10px;
    cursor: pointer;
}

button{
    background-color: whitesmoke;
    border-radius: .625rem;
    color: black;
    padding: .625rem .625rem;
    text-align: center;
    font-size: .75rem;
    font-family: "Poppins" , sans-serif;
    font-style: italic;
    margin: .3125rem .3125rem;
    cursor: pointer;
}