.icons{
    justify-content: left;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
        ul{
            display: inline-block;
            list-style: none;
            margin: .625rem;
                li{
                    display: inline-block;
                    margin: 0 .3125rem;
                }
                    button{
                        display: flex;
                        align-items: center;
                        height: 110px;
                        padding: 0;
                    }
                    img{
                        width: 1.5rem;
                        align-items: center;
                        height: 1.5rem;
                        vertical-align: middle;
                    }
        }
}